.blog-user{
    /* margin-top: 19px; */
}
.blog-user img{
    width: 39px;
    height: 39px;
    border-radius: 50%;
}
/* .description-padding{
    padding-left: 16.5px;
    padding-right: 16.5px;
} */
