
.toggler-outer{
    width: 3rem;
    height: 1rem;
    border: 2px solid grey;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.toggler-inner{
    width: 1.5rem;
    height: 1.5rem;
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    right: auto;
}

.toggler-outer input[type="checkbox"]{
    display: none;
}

.toggler-outer:has(input[type="checkbox"]:checked){
    border-color: #009CFF;
}

.toggler-outer:has(input[type="checkbox"]:checked) .toggler-inner{
    background-color: #009CFF;
    left: auto;
    right: -10px;
}
